* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: arial;
}

h1, h2, h3 {
  font-family: arial;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(32, 32, 32, 0.05);
}

.logo {
  font-family: arial;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bolder;
  font-size: 30px;
  border: 5px solid black;
}

.logo h3 {
  padding-left: 3px;
}

.navlinks {
  display: flex;
  width: 60%;
  background-color: ;
  text-transform: uppercase;
  font-family: arial;
  justify-content: space-around;
}

.navlinks a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  border: ;
}

.navlinks a:hover {
  color: white;
  font-weight: bolder;
}

.navlinks li {
  list-style: none;
}

/* BURGER DROPDOWN MENU FOR MOBILE */
.menu-wrap {
  width: 25px;
  height: 5px;
  margin: 7px;
  background-color: black;
  display: none;
  cursor: pointer;
}

.navlinks li {
  list-style: none;
}

.info-title {
  font-size: 5vh;
  font-weight: bolder;
  align-items: flex-start;
  padding-top: 5%;
  padding-left: 5%;
  color: white;
}

.subheading {
  font-size: 3vh;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  text-align: left;
  font-weight: bolder;
  color: white;
}

/* INFO SECTION */
.info-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
  background-image: url(images/kevin_mm_headshot.jpg);
  height: 800px;
  background-size: cover;
  background-position: bottom;
}

.info {
  display: flex;
  display: inline-block;
  /*width: 100%;*/
  padding-left: 5%;
  padding-right: 65%;
  /*background-image: url(images/profile_pic.jpeg);*/
}

.about-me-text {
  text-overflow: clip;
}

#github-icon {
  height: 35px; 
  width: 35px;
}

#linkedin-icon {
  height: 35px; 
  width: 35px;
}

#medium-icon {
  height: 35px; 
  width: 35px;
}

.info img {
  height: 400px;
  border-radius: 75%;
  float: left;
  margin-right: 2em;
  shape-outside: ellipse();
}

.info h1 {
  margin-top: 20px;
  width: 100%;
  font-family: arial;
  font-size: 3vw;
  color: black;
}

.icons {
  width: 100%;
}

.info p {
  margin-top: 20px;
  width: 100%;
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  color: black;
  word-wrap: break-word;
}


/* PROJECT SUMMARY #1 */
.project-examples-header {
  text-align: center;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 5%;
  color: rgba(60, 100, 68, .9);
}

.project-wrapper {
  /*text-align: right;*/
  /*width: 100%;*/
  display: inline-flex;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  background-color: rgba(235, 218, 213, .2);
}

.project-wrapper-2 {
  /*text-align: right;*/
  /*width: 100%;*/
  display: inline-flex;
  padding-top: 5%;
  width: 100%;
  background-color: rgba(235, 218, 213, .2);
}

.project-wrapper p {
  display: inline-flex;
  font-family: arial;
  font-size: 20px;
  /*font-weight: bold;*/
  color: black;
}

.project-wrapper-2 p {
  font-family: arial;
  font-size: 20px;
  /*font-weight: bold;*/
  color: black;
  width: 100%;
}

.project-1-summary {
  /*text-align: left;*/
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  background-color: rgba(114, 140, 136, 0.12);
}

.project-2-summary {
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 5%;
  width: 40%;
  height: 90%
  background-color: red;
}

.separating-line {
  border-bottom: 6px solid green;
  height: 300px;
  /*left: 50%;*/
  margin-left: ;
  top: 0;
  width: 100%;
}

.iframe-wrapper-1 {
  display: inline-flex;
  max-width: 1000px;
  max-height: 100%;
}

.iframe-wrapper-2 {
  display: inline-flex;
  text-align: center;
  width: 170%;
  padding-left: 5%;
}

.iframe-1 {
  max-height:100%;
  max-width: 100%
}

.iframe-2 {
  width: 100%;
  height: 100%;
  padding-left: 2%;
}

.about-me-ss {
  visibility: hidden;
}

.about-me-text-ss {
  visibility: hidden;
}

/* FOOTER */
.footer {
  position: ;
  bottom: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(32, 32, 32, 0.10);
  font-family: arial;
  font-weight: bold;
}

/* TABLETS AND MOBILE SCREENS */
@media screen and (max-width: 1024px) {
    :root {
    /*--primary-color: rgba(13,110,139,0.2);*/
    --primary-color: rgba(193,66,66,0.2);
    /*--overlay-color: rgba(24,39,51,0.85);*/
    --overlay-color: rgba(193,66,66,0.4);
    --menu-speed: 0.75s;
  }

.info-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
  background-image: url(images/profile_pic_update.jpeg);
  height: 800px;
  background-size: cover;
  background-position: bottom;
}

.about-me-title {
  visibility: hidden;
}

.about-me-text {
  visibility: hidden;
}

.about-me-ss {
  visibility: visible;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.about-me-text-ss {
  visibility: visible;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bolder;
}


/* MOVE ABOUT ME SECTION BELOW PROFILE PIC */
  .navlinks {
    width: 60%;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(32, 32, 32, 0.85);
    display: none;
    flex-direction: column;
    align-items: center;
    /* transform: translateX(100%); */
    /* transition: transform 0.5s ease-in; /* Pushes the navbar into the vw */

  }

  body {
    overflow-x: hidden;
  }

  .menu-wrap {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(32, 32, 32, 0);
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    margin-top: 15px;
    top: 0;
    right: 0;
    z-index: 1;
    width: 55px;
    height: 55px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* HAMBURGER LINE */
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  /* MOVES LINE DOWN ADDING A THIRD */  
  .menu-wrap .hamburger > div:after {
    top: 10px;
  }

  /* TOGGLER ANIMATE */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  /* TURN LINES INTO X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /* ROTATE ON HOVER WHEN CHECKED */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  /* SHOW MENU */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4 ease;
  }

  .menu-wrap .menu > div > div > ul > li {
    font-family: arial;
    font-weight: bold;
    list-style: none;
    color: white;
    font-size: 2rem;
    padding: 1rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

