* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: arial;
}

h1, h2, h3 {
  font-family: arial;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(32, 32, 32, 0.05);
}

.logo {
  font-family: arial;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bolder;
  font-size: 30px;
  border: 5px solid black;
}

.logo h3 {
  padding-left: 3px;
}

.navlinks {
  display: flex;
  width: 60%;
  background-color: ;
  text-transform: uppercase;
  font-family: arial;
  justify-content: space-around;
}

.navlinks a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: black;
  letter-spacing: 2px;
  border: ;
}

.navlinks a:hover {
  color: white;
  font-weight: bolder;
}

.navlinks li {
  list-style: none;
}

/* BURGER DROPDOWN MENU FOR MOBILE */
.burger div {
  width: 25px;
  height: 5px;
  margin: 7px;
  background-color: black;
  display: none;
  cursor: pointer;
}

.navlinks li {
  list-style: none;
}

#github-icon {
  height: 35px; 
  width: 35px;
}

#linkedin-icon {
  height: 35px; 
  width: 35px;
}

#medium-icon {
  height: 35px; 
  width: 35px;
}

.icons {
  width: 100%;
}


.resume-iframe {
  width: 100%;
  height: 1400px;
}

.contact-info {
  margin: 100px 100px 100px 100px;
  text-align: center;
  padding-right: 20%;
  padding-left: 20%;
  /*color: rgba(60, 100, 68, .9);*/
  color: black;
}

.contact-pic {
  background-image: url("../images/10.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
}

.menu-wrap {
  visibility: hidden;
}


/* TABLETS AND MOBILE SCREENS */
@media screen and (max-width: 1024px) {
    :root {
    /*--primary-color: rgba(13,110,139,0.2);*/
    --primary-color: rgba(193,66,66,0.2);
    /*--overlay-color: rgba(24,39,51,0.85);*/
    --overlay-color: rgba(193,66,66,0.4);
    --menu-speed: 0.75s;
  }

/* MOVE ABOUT ME SECTION BELOW PROFILE PIC */
.about-me-title {
  visibility: hidden;
}

.about-me-text {
  visibility: hidden;
}

.about-me-ss {
  visibility: visible;
  padding: 5% 5% 0% 5%;
}

.about-me-text-ss {
  visibility: visible;
  font-weight: bold;
  padding:  5% 5% 0% 5%;
}


  .navlinks {
    width: 60%;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(32, 32, 32, 0.85);
    display: none;
    flex-direction: column;
    align-items: center;
    /* transform: translateX(100%); */
    /* transition: transform 0.5s ease-in; /* Pushes the navbar into the vw */

  }

  body {
    overflow-x: hidden;
  }

  .menu-wrap {
    display: flex;
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(32, 32, 32, 0);
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    margin-top: 15px;
    top: 0;
    right: 0;
    z-index: 1;
    width: 55px;
    height: 55px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* HAMBURGER LINE */
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  /* MOVES LINE DOWN ADDING A THIRD */  
  .menu-wrap .hamburger > div:after {
    top: 10px;
  }

  /* TOGGLER ANIMATE */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  /* TURN LINES INTO X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /* ROTATE ON HOVER WHEN CHECKED */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  /* SHOW MENU */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }

  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4 ease;
  }

  .menu-wrap .menu > div > div > ul > li {
    font-family: arial;
    font-weight: bold;
    list-style: none;
    color: white;
    font-size: 2rem;
    padding: 1rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }


